
.date {

    h5 {
        font-size:15px;
        font-weight:500;
        margin-bottom:0;
    }
    p {
        font-size:14px;
        color:#909090;
        margin:0;
    }
}
.action {

    .actionIcon {
        margin-right:20px;
        cursor: pointer;
    }
}





.ctsPopup {

    :global(.modal-dialog) {
        
        :global(.modal-content) {
            border:none;
            border-radius: 8px;
            
            :global(.modal-header) {
                background-color:var(--Main2);
                color:#fff;
                padding: 15px 20px;

                :global(.btn-close) {
                    color: #fff;
                    filter: invert(338%) sepia(0%) saturate(2467%) hue-rotate(130deg) brightness(95%) contrast(320%);
                    opacity: 1;
                }
            }
            :global(.modal-body) {
                padding: 20px 20px;

                .formBox {
                    margin-bottom: 15px;

                    :global(.form-label) {
                        margin: 0;
                        font-size: 18px;
                        font-weight: 500;
                    }
                    :global(.form-control) {
                        border: 1px solid #d7d7d7;
                        border-radius: 8px;
                        padding: 10px 12px;

                        &:focus {
                            box-shadow:none;
                            border-color:var(--Main2);
                        }
                    }
                    :global(.form-select) {
                        border: 1px solid #d7d7d7;
                        border-radius: 8px;
                        padding: 10px 12px;

                        &:focus {
                            box-shadow:none;
                            border-color:var(--Main2);
                        }
                    }
                }
            }
            
            :global(.modal-footer) {
                padding: 25px 15px;
                justify-content: center;

                .leftft {

                    button {
                        color:var(--Main2);
                        font-size:18px;
                        font-weight:600;
                    }
                }
                .rightft {
                    text-align: right;

                    button {
                        padding: 10px 30px;
                        margin-left: 15px;
                        border-radius: 8px;
                    }
                    .close {
                        background:#AACBFE;
                        color:#fff;
                    }
                    .apply {
                        background:var(--Main2);
                        color:#fff;
                    }
                }
            }

        }
    }
}

.importBody {

    :global(.modal-header) {

        :global(.modal-title) {
            display: block;
            width: 100%;
            text-align: center;
        }
        :global(.btn-close) {
            position: absolute;
        }

    }
    
    :global(.modal-body) {
        text-align: center;

        p {
            color:#B3B3B3;
            font-size:16px;
            padding: 30px 0px;
            text-align:center;
        }

        .importBtn {
            padding: 10px 30px;
            border-radius: 8px;
            background: var(--Main2);
            color: #fff;
            width:100%;
        }
    }
    
}

/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/
@media (max-width: 767px) {

   
    .ctsPopup {

        :global(.modal-dialog) {
            
            :global(.modal-content) {
                
                :global(.modal-body) {

                    .formBox {

                        :global(.form-label) {
                            margin-bottom:10px;
                        }
                    }
                }
                
                :global(.modal-footer) {

                    .leftft {

                        button {
                            color:var(--Main2);
                            font-size:18px;
                            font-weight:600;
                        }
                    }
                    .rightft {
                        display: flex;
                        margin-top: 15px;

                        button {
                            width:50%;
                            justify-content: center;
                            margin:0px 5px;
                        }
                    }
                }

            }
        }
    }
}