
.date {

    h5 {
        font-size:15px;
        font-weight:500;
        margin-bottom:0;
    }
    p {
        font-size:14px;
        color:#909090;
        margin:0;
    }
}
.action {

    .actionIcon {
        margin-right:20px;
        cursor: pointer;
    }
}

.checkboxRow {
 

}
.checkbox {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 25px;
    color:#B3B3B3;
    margin-bottom: 8px;
  
	&:hover input ~ .checkmark {
	    background-color: #f3f1f1;
		border: 1px solid #d8d8d8;
	}
  
    input {
		opacity: 0;
		margin-right:10px;
		position:absolute;
	  
	    &:checked ~ .checkmark {
		  background-color: var(--Main2);
		  border: 1px solid var(--Main2);
		}
		&:checked ~ .checkmark:after {
		  display: block;
		}
	}
	.checkmark {
		position: absolute;
		top: 3px;
		left: 0;
		height: 20px;
		width: 20px;
		background-color: #fff;
		border-radius: 5px;
        border: 1px solid #d8d8d8;

	    &:after {
			content: "";
			position: absolute;
			display: none;
		    left: 6px;
			top: 3px;
			width: 5px;
			height: 10px;
			border: solid white;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
    }	
}

.categoryImage {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        width:6.44%;
        background-color: #e0eaf8;
        border: 1px solid #d7d7d7;
        text-align: center;
        margin: 1px;
        padding: 10px 10px;

        .categoryIcon{
            height: 35px;
        }
    }

    
}




.ctsPopup {

    :global(.modal-dialog) {
        
        :global(.modal-content) {
            border:none;
            border-radius: 8px;
            
            :global(.modal-header) {
                background-color:var(--Main2);
                color:#fff;
                padding: 15px 20px;

                :global(.btn-close) {
                    color: #fff;
                    filter: invert(338%) sepia(0%) saturate(2467%) hue-rotate(130deg) brightness(95%) contrast(320%);
                    opacity: 1;
                }
            }
            :global(.modal-body) {
                padding: 20px 20px;

                .formBox {
                    margin-bottom: 15px;

                    :global(.form-label) {
                        margin: 0;
                        font-size: 18px;
                        font-weight: 500;
                    }
                    :global(.form-control) {
                        border: 1px solid #d7d7d7;
                        border-radius: 8px;
                        padding: 10px 12px;

                        &:focus {
                            box-shadow:none;
                            border-color:var(--Main2);
                        }
                    }
                    :global(.form-select) {
                        border: 1px solid #d7d7d7;
                        border-radius: 8px;
                        padding: 10px 12px;

                        &:focus {
                            box-shadow:none;
                            border-color:var(--Main2);
                        }
                    }
                }
            }
            


            .formBox {
                margin-bottom: 15px;
            
                :global(.form-label) {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 500;
                }
                :global(.form-control) {
                    border: 1px solid #d7d7d7;
                    border-radius: 8px;
                    padding: 10px 12px;
            
                    &:focus {
                        box-shadow:none;
                        border-color:var(--Main2);
                    }
                }
                :global(.form-select) {
                    border: 1px solid #d7d7d7;
                    border-radius: 8px;
                    padding: 10px 12px;
            
                    &:focus {
                        box-shadow:none;
                        border-color:var(--Main2);
                    }
                }
            }
            
            
            :global(.modal-footer) {
                padding: 25px 15px;
                justify-content: center;

                .leftft {

                    button {
                        color:var(--Main2);
                        font-size:18px;
                        font-weight:600;
                    }
                }
                .rightft {
                    text-align: right;

                    button {
                        padding: 10px 30px;
                        margin-left: 15px;
                        border-radius: 8px;
                    }
                    .close {
                        background:#AACBFE;
                        color:#fff;
                    }
                    .apply {
                        background:var(--Main2);
                        color:#fff;
                    }
                }
            }

        }
    }
}


.formBox {
    margin-bottom: 15px;

    :global(.form-label) {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
    :global(.form-control) {
        border: 1px solid #d7d7d7;
        border-radius: 8px;
        padding: 10px 12px;

        &:focus {
            box-shadow:none;
            border-color:var(--Main2);
        }
    }
    :global(.form-select) {
        border: 1px solid #d7d7d7;
        border-radius: 8px;
        padding: 10px 12px;

        &:focus {
            box-shadow:none;
            border-color:var(--Main2);
        }
    }
}




.importBody {

    :global(.modal-header) {

        :global(.modal-title) {
            display: block;
            width: 100%;
            text-align: center;
        }
        :global(.btn-close) {
            position: absolute;
        }

    }
    
    :global(.modal-body) {
        text-align: center;

        p {
            color:#B3B3B3;
            font-size:16px;
            padding: 30px 0px;
            text-align:center;
        }

        .importBtn {
            padding: 10px 30px;
            border-radius: 8px;
            background: var(--Main2);
            color: #fff;
            width:100%;
        }
    }
    
}

.tabsSection {

    :global(.nav-tabs) {
        border: none;

        :global(.nav-item) {
            width: 25%;
            text-align: center;

            :global(.nav-link) {
                width: 100%;
                background: #CCE0FE;
                border-radius: 0px;
                color: #AAAAAA;
                padding: 20px 20px;
                border: none;

                &:global(.active) {
                    background-color: #AACBFE;
                    color: #000;
                }
            }

        }
    }
}



/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/
@media (max-width: 767px) {

    .tabsSection {

        :global(.nav-tabs) {
    
            :global(.nav-item) {
                margin-bottom: 5px;
                width: auto;
    
                :global(.nav-link) {
                    padding: 12px 20px;
                    min-width: 100px;
    
                    &:global(.active) {
                        background-color: var(--Main2);
                        color: #fff;
                    }
                }
    
            }
        }
    }
    
       
   
    .ctsPopup {

        :global(.modal-dialog) {
            
            :global(.modal-content) {
                
                :global(.modal-body) {

                    .formBox {

                        :global(.form-label) {
                            margin-bottom:10px;
                        }
                    }
                }
                
                
                :global(.modal-footer) {
                    display: block;

                    .leftft {

                        button {
                            color:var(--Main2);
                            font-size:18px;
                            font-weight:600;
                        }
                    }
                    .rightft {
                        display: flex;
                        margin-top: 15px;

                        button {
                            width: 49%;
                            justify-content: center;

                            &.close {
                               margin: 0px 5px 0px 0px;
                            }
                            &.apply {
                               margin: 0px 0px 0px 5px;
                            }
                        }
                    }
                }

            }
        }
    }

    
    .categoryImage {

        li {
            width: 24.25%;
        }

        
    }
}
